@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Noto+Sans:wght@500;700;800&display=swap');

.font-col{
font-family: ui-serif,Georgia,"Times New Roman",Times,serif;
}
.text-emphasis{
    color:#374151;
    font-family: 'Noto Sans', sans-serif;
}
.text-subtle{
    color: #6b7280;
    font-family: 'Noto Sans', sans-serif;
}
