@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Noto+Sans:wght@500;700;800&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
}

.button-background {
    background-color: #e5e7eb;
}

.button-background-disabled {
    background-color: #fff;
    color: #e5e7eb;
}

.default-width {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
}

.default-width {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #e5e7eb;

}
.input-size {
    width: 370px;
}
@media (max-width: 770px) {
    .default-width {
        width: 70%;
        display: flex;
        justify-items: center;
        /* Ensure the element occupies the full width */
    }
}

@media (max-width: 550px) {
    .default-width {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-left: 1rem;
        /* Ensure the element occupies the full width */
    }

    .input-size {
        width: 80%;
    }
}

.toggled-width {
    max-width: 1050px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
}


@media (max-width: 830px) {
    .col {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .met-time {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
}

@media (min-width: 811px) {
    .meeting-time-button {
        width: 13rem;
    }
}

.button-size {
    width: 3.5rem;
    height: 3.5rem;
}

.text-with-line:before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
}

.line-cut {
    text-decoration: line-through;
}

.meet-det-dimension {
    max-width: 250px;
    width: 100%;
    background-color: #fff;
}

.meeting-details-yarsa-logo {
    width: 40px;
    height: 22px;
    margin-bottom: 0.5rem;
}

.calendar-dimension {
    max-width: 480;
    width: 100%;
    background-color: #fff;
}

.scrollable {
    max-height: 500px;
    width: 550px;
    overflow-x: hidden;
}

/* .meeting-time-button{
    width: 230px;
} */