.button-background {
    background-color: #e5e7eb;
}

.default-width {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
}

.toggled-width {
    max-width: 1050px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
}
.button-size{
    width: 3.5rem;
    height: 3.5rem;
}